h1 {
  color: red;
  background-color: yellowgreen;
}
body {
  background-color: blue;
}

.text {
  color: blue;
}

#text2 {
  color: blueviolet;
}

.lightblue {
  color: lightblue;
}

table,
th,
td {
  border: 2px solid black;
  border-collapse: collapse;
}
